/* Divider
================================================ */

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .divider-custom-line {
    margin-right: 1rem;
    width: 100%;
    height: 0.3rem;
    max-width: 7rem;
    border-radius: 0.2rem;
    border-color: $bleu_fonce;
    background-color: $bleu_fonce;

    &:last-child {
      margin-left: 1rem;
    }
  }

  .divider-custom-icon {
    color: $bleu_fonce;
    font-size: 3rem;
  }
}
