/* Navigation
================================================ */

.uk-navbar-left, .uk-navbar-item {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline;
    max-width: 150px;

    a {
      color: white;
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:last-child {
      a {
        color: orange;
      }
    }
  }
  .uk-logo {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
