/*  Footer
================================================ */

#page-footer {

  #prefooter {
    padding: 5rem 0;
    background: $bleu;
    border-bottom: 2px solid white;

    h4 {
      @extend %titre_4;
      font-weight: bold;
      color: white;
    }

    p {
      @extend %texte;
      color: white;
    }

    .social {
      a {
        text-decoration: none;

        i {
          font-size: 2rem;
          color: $bleu;

          &:hover {
            color: $bleu_fonce;
          }
        }
      }
    }

  }

  #copyright {
    padding: 1rem 0 1rem 0;
    background: $bleu_fonce;

    p {
      @extend %texte;
      color: white;
      font-size: 1.2rem;
      text-align: center;

      a {
        color: white;
      }
    }
  }
}
