/* Header
================================================ */

header#page-header {
  #nav {
    padding: 0.5rem 0;
    border-bottom: 2px solid white;
    background: $bleu_fonce;

    .uk-navbar {
      a {
        position: relative;
        font-weight: 500;
        max-width: 250px;
      }
    }
  }
}
