/* Home
================================================ */

#wrapper.home {
  #top {
    padding: 5rem 0;
    background: $bleu;

    .uk-container {
      .uk-text-center {

        img {
          width: 200px;
          padding-bottom: 2rem;
        }

        h1 {
          @extend %titre;
          color: white;
          margin: 0;
        }

        h3 {
          @extend %titre_3;
          color: white;
          margin: 0;
        }

        .divider-light {

          .divider-custom-line {
            background-color: white;
          }

          .divider-custom-icon {
            color: white;
          }
        }
      }
    }
  }

  #fonctionnalite {
    padding: 5rem 0;

    .uk-container {
      h2 {
        @extend %titre_2;
        font-weight: bold;
        color: $bleu_fonce;
      }

      .fonction {
        h2 {
          font-size: 3rem;
          margin: 20px;
        }
        p {
          @extend %texte;
          margin: 0;
        }
      }

    }
  }

  #rejoindre {
    padding: 5rem 0;

    .uk-container {

      h2 {
        @extend %titre_2;
        margin: 0;
        font-weight: bold;
        color: $bleu_fonce;
      }

      .rejoindre_bouton {
        .button {
          padding: 2rem 0;

          .uk-button {
            @extend %button;
          }
        }

        .uk-text-center {
          max-width: 30rem;
          margin-right: auto;
          margin-left: auto;

          p {
            @extend %texte;
          }
        }
      }
    }
  }
}
