/*  Variables
================================================ */

$transition: all 0.2s ease-in-out;

// Mixin
@mixin placeholder {
  ::placeholder { @content; }
  :-ms-input-placeholder { @content; }
  ::-ms-input-placeholder { @content; }
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

%titre {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}

%titre_2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

%titre_3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

%titre_4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

%texte {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

%button {
    color: $bleu;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: bold;
    background: linear-gradient(to right, $bleu 50%, transparent 50%);
    background-position: right bottom;
    background-size: 220% 100%;
    background-repeat: no-repeat;
    border: 2px solid $bleu;
    border-radius: 10px;
    display: inline-block;
    transition: $transition;
    padding: 1rem 2rem 1rem 4rem;
    overflow: hidden;

    i {
        position: relative;
        left: -10px;
        font-size: 2rem;
        vertical-align: middle;
    }

    &:hover, &:focus {
        background-position: left bottom;
        border: 2px solid $bleu;
        color: white;

    }
}
